{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

{% load staticfiles wagtailimages_tags %}

{% if month %}

<div id="homepage-featured">

  {% for slide in month.featured_articles %}
  <div class="slide">
    {% image slide.1.main_image fill-800x500 %}
    <div>
      <h3>{{ slide.1.title|lower }}</h3>
      <span>{{ slide.0 }} // <a href="{{ slide.1.text_by.get_absolute_url }}">{{ slide.1.text_by|upper }}</a></span>
    </div>
  </div>
  {% endfor %}

</div>

<div class="section-header-wrapper">
  <div class="section-header">
    <span>{{ month.theme|lower }} // {{ month.string_date|lower }}</span>
  </div>
</div>

{% else %}
  <div class="wrapper">
    <h4>Error finding this months content, please come back later</h4>
  </div>
{% endif %}

<div id="homepage-section1">

  <div class="article-list">
    {% for article in articles|slice:":3" %}
      <article>
        {% image article.main_image fill-260x260 %}<br>
        <h4>{{ article.title|lower }}</h4>
        <h5>FEATURE // <a href="{{ article.text_by.get_absolute_url }}">{{ article.text_by|upper }}</a></h5>
      </article>
    {% endfor %}
  </div>

  {% include "sidebar.html" %}

</div>

<div class="divider alt-color-1">
  <img src="{% static "images/icons/sparkle.svg" %}">
  <img src="{% static "images/icons/moon.svg" %}">
  <img src="{% static "images/icons/peace.svg" %}">
  let's get together: submit your stuff!
</div>


<div id="homepage-section2">

  <div class="article-list">
    {% for article in articles|slice:"3:7" %}
      <article>
        {% image article.main_image fill-260x260 %}<br>
        <h4>{{ article.title|lower }}</h4>
        <h5>FEATURE // <a href="{{ article.text_by.get_absolute_url }}">{{ article.text_by|upper }}</a></h5>
      </article>
    {% endfor %}
  </div>
  <sidebar>
    {% if prev_month %}

      <div class="sidebar-title">// previous posts //</div>

      {% for article in prev_month.featured_articles %}
      {% with article=article.1 %}
        <article>
          {% image article.main_image fill-260x200 %}<br>
          <h4>{{ article.title|lower }}</h4>
        </article>
      {% endwith %}
      {% endfor %}

    {% endif %}

  </sidebar>

</div>

<hr>

{% include "instagram.html" %}

<hr>

<div class="divider alt-color-2">
  <img src="{% static "images/icons/sparkle.svg" %}">
  <img src="{% static "images/icons/moon.svg" %}">
  <img src="{% static "images/icons/peace.svg" %}">
  say it with us // the monthly mantra
</div>


<div id="social-bar">
  <h3>for more adventures...</h3>
  {% include "social_icons.html" %}
</div>

{% endblock %}
