{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div id="instagram-recent">

  {% load instagram_client %}

  {% instagram_user_recent_media tote_mag %}

  <h3 class="center"><a href="https://www.instagram.com/tote_mag/">@tote_mag</a></h3>

  <h4 class="center">STAY RAD WITH US // INSTAGRAM</h4>

  <div class="image-list">
    {% for media in recent_media|slice:":4" %}
      <div>
        <a href="{{ media.display_src }}" target="_blank" title="{{ media.caption }}">
          <img src="{{ media.thumbnail_src|thumbnail }}"/>
        </a>
      </div>
    {% empty %}
      Issue loading.. please try again later
    {% endfor %}
  </div>

</div>

{% endblock %}
