{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

{% load wagtailimages_tags %}
{% load staticfiles %}

{% if month %}

<div id="homepage-featured">

  {% if month.leader.title %}
  {% with slide=month.leader %}
  <div class="slide">
    {% image slide.main_image fill-800x500 %}
    <div>
      <h3>{{ slide.title|lower }}</h3>
      <span>LEADER OF THE MONTH // {{ slide.text_by|upper }}</span>
    </div>
  </div>
  {% endwith %}
  {% endif %}

  {% if month.feature_girl_1.title %}
  {% with slide=month.feature_girl_1 %}
  <div class="slide">
    {% image slide.main_image fill-800x500 %}
    <div>
      <h3>{{ slide.title|lower }}</h3>
      <span>FEATURE GIRL #1 // {{ slide.text_by|upper }}</span>
    </div>
  </div>
  {% endwith %}
  {% endif %}

  {% if month.feature_girl_2.title %}
  {% with slide=month.feature_girl_2 %}
  <div class="slide">
    {% image slide.main_image fill-800x500 %}
    <div>
      <h3>{{ slide.title|lower }}</h3>
      <span>FEATURE GIRL #2 // {{ slide.text_by|upper }}</span>
    </div>
  </div>
  {% endwith %}
  {% endif %}

  {% if month.music_spotlight.title %}
  {% with slide=month.music_spotlight %}
  <div class="slide">
    {% image slide.main_image fill-800x500 %}
    <div>
      <h3>{{ slide.title|lower }}</h3>
      <span>MUSIC SPOTLIGHT // {{ slide.text_by|upper }}</span>
    </div>
  </div>
  {% endwith %}
  {% endif %}

</div>

<div class="section-header">
  <span>{{ month.theme|lower }} // {{ month.string_date|lower }}</span>
</div>

{% else %}
  <h3>Error finding this months content, please come back later</h3>
{% endif %}

<div id="homepage-section1">

  <div class="article-list">
    {% for article in articles|slice:":3" %}
      <article>
        {% image article.main_image fill-250x250 %}<br>
        <h4>{{ article.title|lower }}</h4>
      </article>
    {% endfor %}
  </div>
  <div class="sidebar">
    <div class="sidebar-title">
      <img src="{% static "images/icons/bubble.svg" %}" class="bubble-icon"> #totetalks
    </div>

    <div id="month-teaser">
      TODO
    </div>

    <h3>// about us //</h3>
    <p>
      tote mag produces online monthly issues featuring content
      that celebrates a sisterhood of game changers for daily content
      keep up with us on social media
    </p>

    <h3>don't miss an issue</h3>
    <em>subscribe to our newsletter</em><br>
    <form>
      <input type="email" name="email" placeholder="EMAIL">
    </form>

  </div>

</div>

<div class="divider">
  <img src="{% static "images/icons/sparkle.svg" %}">
  <img src="{% static "images/icons/moon.svg" %}">
  <img src="{% static "images/icons/peace.svg" %}">
  let's get together: submit your stuff!
</div>

{% include "instagram.html" %}

{% endblock %}
