header .social-icons {
  margin: 2rem;
  text-align: left;
}

sidebar {
  width: 200px;
  padding: 14px;
  box-sizing: border-box;
  border-left: solid $border-width $border-color;
}

#homepage-featured {
  div.slide {
    text-align: left;

    div {
      padding: 2rem;
      width: 350px;
      height: 120px;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

#homepage-section1,
#homepage-section2 {
  .article-list {
    width: 580px;
  }
}

#about-feature {
  height: 650px;

  div.inline-position {
    position: relative;
    width: 100%;
  }
  img {
    position: absolute;
  }
  div.info-box {
    position: absolute;
    right: 0;
    top: 50px;
    height: 500px;
    width: 350px;
  }
}
