@import "css/reset.scss";

$font-color: #2B2B2B;
$title-color: #242424;
$accent-color-1: #FFD7CB;
$accent-color-2: #CDEBED;
$heading-font: 'Arial', sans-serif;
$body-font: 'Times New Roman', serif;


// Basic Elements

body {
  font-family: $body-font;
  font-size: 1rem;
  background-color: #FFF;
  color: $font-color;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin: 1rem 0;
  padding: 0;
  font-size: 1.2rem;

  &, & a {
    color: $title-color !important;
    text-decoration: none !important;
  }
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.1rem;
  color: #666 !important;
}

a:link, a:visited, a:hover, a:active {
  color: #0070FF;
  text-decoration: underline;
}

.center {
  text-align: center;
}



// Layout

header {
  text-align: center;

  div.social-icons {
    margin: 1rem;

    img {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  div.logo {
    margin: 1rem;

    img {
      width: 10rem;
    }
  }

  div.slogan {
    margin: 1rem;

    img {
      width: 20rem;
    }
  }
}

nav {
  width: 100%;
  text-align: center;
  border-top: solid 1px $font-color;
  border-bottom: solid 1px $font-color;
  padding: 1rem 0;
  margin: 2rem 0;

  ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    img {
      width: 2rem;
    }
    a:link {
      padding: 1rem;
      color: $font-color;
      font-size: .9rem;
      font-family: $heading-font;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
    }
    input {
      width: 8rem;
      border: none;
      padding: .4rem;
      font-size: .9rem;
      color: #666;
      text-align: center;
    }
  }
}

main {
  margin: 0 1rem;
}

// Specific elements

#homepage-featured {
  display: flex;
  justify-content: center;
  text-align: center;

  div.slide {
    h3 {
      color: #000 !important;
      letter-spacing: .2em;
    }
    img {
      position: relative;
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.6);

      span {
        font-family: sans-serif;
      }
    }
  }
}

#instagram-recent .image-list {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  div {
    width: 200px;
    height: 200px;
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,215,203,0.8);
      color: #000;
      line-height: 1.4rem;
      opacity: 0;
      transition: opacity 500ms;
      display: flex;
      justify-content: center;
      padding: 1rem;
      box-sizing: border-box;
      align-items: center;
    }
    &:hover span {
      opacity: 1;
    }
  }
}

.rslides2_tabs {
  display: none !important;
}

.rslides_tabs {
  list-style: none;
  margin: .6rem;
  justify-content: center;
  display: flex;

  li a {
    display: block;
    width: 16px;
    height: 0px;
    padding-top: 16px;
    background-image: url(../images/slideshow-pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
  }
  li.rslides_here a {
    background-position: 0 -16px;
  }
}
