@import "css/reset.scss";

$font-color: #2B2B2B;
$title-color: #242424;
$accent-color-1: #CDEBED;
$accent-color-2: #FFD7CB;
$border-color: #CCC;
$border-width: 1px;
$heading-font: 'Arial', sans-serif;
$body-font: 'Times New Roman', serif;
$max-width: 800px;


// Basic Elements

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  font-size: 1rem;
  background-color: #FFF;
  color: $font-color;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  margin: 1rem 0;
  padding: 0;
  font-size: 1.2rem;

  &, & a {
    color: $title-color !important;
    text-decoration: none !important;
  }
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.1rem;
  color: #666 !important;
}

h5 {
  font-size: .92rem;
}

em {
  font-style: italic;
}

a:link, a:visited, a:hover, a:active {
  color: #0070FF;
  text-decoration: underline;
}

input {
  border: solid $border-width $border-color;
  padding: .4rem;
}

.center {
  text-align: center;
}

hr {
  width: 100%;
  margin: 3rem 0 1rem;
  border: none;
  border-top: solid $border-width $border-color;
}


// Layout

header {
  text-align: center;

  div.social-icons {
    margin: 1rem;

    img {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  div.logo {
    margin: 1rem;

    img {
      width: 10rem;
    }
  }

  div.slogan {
    margin: 1rem;

    img {
      width: 20rem;
    }
  }
}

nav, footer {
  width: 100%;
  text-align: center;
  border-top: solid $border-width $font-color;
  border-bottom: solid $border-width $font-color;
  padding: 1rem 0;
  margin: 2rem 0;

  ul {
    list-style: none;
    margin: 0 auto;
    max-width: $max-width;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    img {
      width: 2rem;
    }
    a:link,
    a:visited,
    a:active,
    a:hover {
      padding: 1rem;
      color: $font-color;
      font-size: .9rem;
      font-family: $heading-font;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
    }
    input {
      width: 10rem;
      border: none;
      padding: .4rem;
      font-size: .9rem;
      color: #666;
      text-align: center;
    }
  }
}

main {
  margin: 0 10px;
}

footer {
  padding: 2rem 0 1rem;
  border-top: solid $border-width $border-color;
  border-bottom: none;
}

.section-header-wrapper {
  border-bottom: solid $border-width $border-color;
  margin: 2rem 0;
  width: 100%;
}
.section-header {
  font-size: 1.4rem;
  max-width: $max-width;
  margin: 0 auto;
  font-family: $heading-font;

  span {
    display: inline-block;
    background-color: $border-color;
    padding: .8rem 2.2rem;
  }
}

.divider {
  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.alt-color-1 {
    background-color: $accent-color-1;
  }
  &.alt-color-2 {
    background-color: $accent-color-2;
  }
  img {
    width: 24px;
    margin: 1rem;
  }
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;

  &.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
}

ul.search-results {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  li {
    padding-right: 15px;
  }
}

.info-box, .notice-box {
  width: 30rem;
  padding: 2rem;
  box-shadow: 5px 5px 7px rgba(0,0,0,.3);
  border: solid 1px;
  border-top-width: 5px;

  h3 {
    margin-top: 0;
    font-size: 2rem;
  }
}

.info-box {
  background-color: $accent-color-1;
  border-color: #97b5b7;
}

.notice-box {
  background-color: $accent-color-2;
  border-color: #cfab9b;
}

div#messages {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: $accent-color-1;
}

div.condense {
  ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.4rem;

    li {
      margin-left: 4px;

      &::before {
        content: ' • ';
      }
    }
  }
}

// Specific elements

sidebar {
  margin: 0 auto;

  .sidebar-title {
    font-size: 1.4rem;
    margin: 0 0 1rem;
    display: flex;
    align-items: center;
    width: 100%;

    .bubble-icon {
      margin-right: 1rem;
      width: 26px;
    }
  }
  #month-teaser {
    width: 100%;
    border: solid $border-width $accent-color-2;
    padding: .6rem;

    h3 {
      margin: 0 0 .6rem;
    }
  }
  h3 {
    margin: 2.2rem 0 .4rem;
    font-size: 1.4rem !important;
  }
  input {
    margin: .4rem 0;
    padding: .2rem;
    width: 100%;
    border: solid $border-width $border-color;
  }
}

#homepage-featured {
  display: flex;
  justify-content: center;
  text-align: center;

  div.slide {
    h3 {
      color: #000 !important;
      letter-spacing: .2em;
    }
    img {
      position: relative;
    }
    div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.6);

      span {
        font-family: $heading-font;
      }
    }
  }
}

#homepage-section1,
#homepage-section2 {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;

  .article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    article {
      margin: 1rem;
      width: 260px;

      h4 {
        font-weight: bold;
        color: $title-color;
        margin: .5rem 0;
        letter-spacing: .1rem;
      }
    }
  }
}

#instagram-recent {
  margin: 2rem 0;
  padding: 1rem 0 2rem;

  .image-list {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    div {
      width: 200px;
      height: 200px;
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,215,203,0.8);
        color: #000;
        line-height: 1.4rem;
        opacity: 0;
        transition: opacity 500ms;
        display: flex;
        justify-content: center;
        padding: 1rem;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover span {
        opacity: 1;
      }
    }
  }
}

#social-bar {
  text-align: center;
  margin: 3rem 0;

  img {
    width: 24px;
  }
}

.rslides2_tabs {
  display: none !important;
}

.rslides_tabs {
  list-style: none;
  margin: .6rem;
  justify-content: center;
  display: flex;

  li a {
    display: block;
    width: 16px;
    height: 0px;
    padding-top: 16px;
    background-image: url(../images/slideshow-pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
  }
  li.rslides_here a {
    background-position: 0 -16px;
  }
}

body.article-details {
  h2 {
    letter-spacing: .1rem;
    color: $font-color !important;
  }
  div.first.wrapper {
    padding-bottom: 1rem;
  }
}

body.about {
  div.content {
    margin-bottom: 2rem;
  }
  div.slogan {
    text-align: center;
    font-size: 3rem;
  }
}

#about-feature {
  div.info-box {
    font-size: 1.5rem;
    @import "_wysiwyg.scss";
  }
}

#team-list {
  padding: 2rem 0;

  h3 {
    text-align: center;
    margin-top: 0;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: .5rem;
    }
  }
}

// hack the wagtail icon
.wagtail-icon-wagtail:before {
  content: "d" !important;
}

// Responsive design non-mobile stylesheets

@media (min-width: 820px) {
  @import "_tablet.scss";
}

@media (min-width: 1200px) {
  @import "_desktop.scss";
}
