{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static "images/favicon.ico" %}">
        <link rel="icon" sizes="192x192" href="{% static "images/favicon.png" %}">

        {# Global stylesheets #}
        {% load compress %}
        {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static "css/main.scss" %}">
          <link rel="stylesheet" type="text/css" href="{% static "css/responsiveslides.css" %}">
        {% endcompress %}

        {% compress js %}
          <script src="{% static "js/jquery.min.js" %}"></script>
          <script src="{% static "js/responsiveslides.min.js" %}"></script>
          <script src="{% static "js/tote.js" %}"></script>
        {% endcompress %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header>

          <div class="social-icons">
            <a href="https://www.facebook.com/totemagazine/"><img src="{% static "images/social/facebook.svg" %}" title="Facebook"></a>
            <a href="https://www.instagram.com/tote_mag/"><img src="{% static "images/social/instagram.svg" %}" title="Instagram"></a>
            <a href="https://twitter.com/tote_mag"><img src="{% static "images/social/twitter.svg" %}" title="Twitter"></a>
            <a href="http://tote-mag.tumblr.com/"><img src="{% static "images/social/tumblr.svg" %}" title="Tumblr"></a>
            <a href="https://www.snapchat.com/add/tote_mag"><img src="{% static "images/social/snapchat.svg" %}" title="Snapchat"></a>
          </div>

          <div class="logo">
            <a href="/"><img src="{% static 'images/logo.svg' %}" title="Tote"></a>
          </div>

          <div class="slogan">
            <img src="{% static 'images/slogan.svg' %}" title="Redefine the Conversation">
          </div>

        </header>

        <nav>
          <ul>
            <li><a href="/month/now/">This Month</a></li>
            <li><img src="{% static "images/icons/peace.svg" %}"></li>
            <li><a href="/month/all/">All Months</a></li>
            <li><img src="{% static "images/icons/sparkle.svg" %}"></li>
            <li><a href="/about/">About</a></li>
            <li><img src="{% static "images/icons/moon.svg" %}"></li>
            <li>
              <form action="{% url 'search' %}" method="get">
                <input type="text" placeholder="SEARCH" name="query" value="{{ search_query }}">
              </form>
            </li>
          </ul>
        </nav>

        <main>
          {% block content %}{% endblock %}
        </main>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/tote.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
