{% load staticfiles %}
<sidebar>
  <div class="sidebar-title">
    <img src="{% static "images/icons/bubble.svg" %}" class="bubble-icon"> #totetalks
  </div>

  <div id="month-teaser">
    TODO
  </div>

  <h3>// about us //</h3>
  <p>
    tote mag produces online monthly issues featuring content
    that celebrates a sisterhood of game changers for daily content
    keep up with us on social media
  </p>

  <h3>don't miss an issue</h3>
  <em>subscribe to our newsletter</em><br>
  <form action="/subscribe/" method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="EMAIL">
  </form>

</sidebar>
