{% load staticfiles %}

<a href="https://www.facebook.com/totemagazine/"><img src="{% static "images/social/facebook.svg" %}" title="Facebook"></a>
<a href="https://www.instagram.com/tote_mag/"><img src="{% static "images/social/instagram.svg" %}" title="Instagram"></a>
<a href="https://twitter.com/tote_mag"><img src="{% static "images/social/twitter.svg" %}" title="Twitter"></a>
<a href="http://tote-mag.tumblr.com/"><img src="{% static "images/social/tumblr.svg" %}" title="Tumblr"></a>
<a href="https://www.snapchat.com/add/tote_mag"><img src="{% static "images/social/snapchat.svg" %}" title="Snapchat"></a>
